:root{
  --primary-color: #CB3A1A;
  --secondary-color: #111111;
  --para-color:#74787C;
}

body{
  font-family: Jost;
}

h1{
  font-size: 66px !important;
  font-weight: 700 !important;
  text-transform: uppercase;
}

h2{
  font-size: 47px !important;
  text-transform: uppercase;
}

@media(max-width:1024px) {
  h1{
  font-size: 60px !important;
  font-weight: 700 !important;
  text-transform: uppercase;
}
h2{
  font-size: 41px !important;
  text-transform: uppercase;
}
}

@media(max-width:768px) {
  h1{
  font-size: 50px !important;
  font-weight: 700 !important;
  text-transform: uppercase;
}
h2{
  font-size: 30px !important;
  text-transform: uppercase;
}
}

@media(max-width:578px) {
  h1{
  font-size: 30px !important;
  font-weight: 700 !important;
  text-transform: uppercase;
}
h2{
  font-size: 20px !important;
  text-transform: uppercase;
}
}
.para{
  color: var(--para-color);
}

.nav-logo{
  height: 50px;
}
.nav-outer {
  z-index: 6;
  background-color: var(--secondary-color);
  text-transform: uppercase !important;
}

.nav-outer-scroll{
 background-color: #111111db !important;
}
.navBtn {
  border: 1px solid var(--primary-color);
  color: white;
  height: 50px;
  cursor: pointer;
}

.navbar-toggler-icon {
  filter: invert(1); 
}

/* Offcanvas Styling */
.offcanvas {
  background-color: var(--secondary-color);
  color: white;
}

.offcanvas .nav-link {
  color: rgb(0, 0, 0) !important;
  font-size: 18px;
  text-transform: uppercase;
}

.offcanvas .nav-link:hover {
  color: var(--primary-color) !important;
  transition: 0.3s;
}


.offcanvas-backdrop,
.offcanvas-backdrop.show {
  backdrop-filter: none !important;
  background-color: rgba(0, 0, 0, 0.5) !important; /* normal dim effect */
}

.offcanvas-backdrop, .offcanvas-backdrop.show {
    -webkit-backdrop-filter: none !important;
    backdrop-filter: none !important;
    background-color: rgb(255 255 255 / 0%) !important;
}

.herosection {
  position: relative;
  background-image: url("https://png.pngtree.com/background/20231030/original/pngtree-3d-render-of-a-charming-cafe-or-restaurant-picture-image_5788105.jpg");
  background-size: cover;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
  overflow: hidden;
  margin-top: 70px;
}

.herosection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.725); /* light black */
  z-index: 2;
}

.herosection > * {
  position: relative;
  z-index: 3; /* keeps content above the overlay */
}

 .our-services{
   background-color: #FAF4EE;
 }

 .service-image{
  height: 60%;
    display: flex
 }
 .card-img-top{
  object-fit: cover;
 }

 .subtitle{
  padding: 7px 25px;
  background-color: var(--primary-color);
  color: white;
  width: fit-content;
  display: flex;
  justify-self: center;
  font-size: 18px;
  border-radius: 3px;
 }

 .our-team{
  position: relative;
 }

 .our-team::before{
  content: '';
  background-color: #2b2b2b;
  width: 100%;
  height: 50%;
  z-index: 1;
  position: absolute;
  bottom: 0;
 }
 .our-team .card{
   z-index: 5;
 }

 .newletter-input{
  background-color: #282828;
  border: none;
  outline: none;
  padding: 12px 7px 12px 30px;
  width: 100%;
  margin-top: 13px;
 }

 .border-botom{
   border-bottom: 1px solid #303030 !important;
 }

 .footer-top{
  background-color: #ebebeb;
 }

 @media (max-width:578px) {
  .nav-logo{
  height: 35px;
}
.herosection{
  margin-top: 60px;
  height: 60vh;
}
.hero-line{
  width: 20%;
}
.subtitle{
  padding: 6px 11px;
  font-size: 14px;
}
 }